.message {
  // padding: 10px 15px;
  margin: 5px 0;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: nowrap;
  &--user {
    align-self: flex-end;
    text-align: right;
    align-items: flex-end;
  }

  &--other {
    align-self: flex-start;
    align-items: flex-start;
  }
  &__text {
    word-wrap: break-word;
    margin: 0px;
  }
  .text-container {
    padding: 10px 15px;
    border-radius: 10px;
  }
  .text--user {
    background-color: var(--primary-400);
    color: white;
    text-align: right;
  }

  .text--other {
    background-color: rgba(217, 217, 217, 0.642);
    color: #333;
    backdrop-filter: blur(2px);
  }
  .message__time {
    margin: 0;
    text-align: right;
    color: var(--gray-700);
    font-weight: 400;
    margin-top: -10px;
  }
  &__media {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
  }
}
